body {
    height: 900px;
    background: linear-gradient(45deg, #0e0e0d, #fdd034, #0e0e0d);
}

.header #span {
    white-space: nowrap;
    width: auto;
    height: 30px;
    display: flex;
    justify-content: center;
    font-family: Arial;
    font-size: 60px;
    color: #030202;  
    transform: translate(0, 80px);
    text-shadow: 3px 3px 10px #2c2c2c;
}

.calc {
    margin: 200px auto;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    background: #000000;
    color: #fff;
    font-family: Arial;
    padding: 18px;
    box-shadow: 4px 4px 8px #000000;
    }
        
    .calc-screen {
    height: 125px;
    padding: 10px;
    display: flex;
    justify-content: end;
    align-items: end;
    }
        
    .calc-screen p {
    text-align: right;
    font-size: 4em;
    margin: 0;
    }
        
    .buttons {
    display: grid;
    grid-template-areas: 
    "ac plus-minus percent division"
    "seven eigth nine multi"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal";
    grid-gap: 7px;
    justify-items: center;
    }
    
    .btn {
    width: 60px;
    height: 60px;
    background: #333333;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 1.5em;
    cursor: pointer;
    user-select: none;
    }
        
    .btn.zero {
    grid-area: zero;
    width: 100%;
    border-radius: 34px;
    }
        
    .btn:hover {
    filter: brightness(120%);
    }
    
    .btn:active {
    filter: brightness(90%);
    }
        
    .btn.bg-grey {
    background: #a6a6a6;
    }
    
    .btn.bg-orange {
    background: #ff9500;
    }
